body{
    background-color: cornsilk;
}
canvas{
    border: solid rgba(255, 136, 0, 0.582) 5px;
    border-radius: 1%;
    margin-top: 0px;
   /* width: 6000px;
    height: 2800px;*/
}
h1{
    text-align: center;
    color:rgb(255, 136, 0);
    font: outline bold;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
}
h2{
    text-align: center;
    color:rgb(255, 136, 0);
    font: outline bold;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}
#heading{

text-align: center;
color: crimson;
font-size: 50px;
}

#para{
    font-size: 14px;
    word-wrap: break-word;
}
